<!DOCTYPE html>
<html>
<head>
  <title><center><b>Boy I cut ya bruh</b></center></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<i>Italicized text</i>
<%= yield %>

</body>
</html>
